---
Language: Cpp
BasedOnStyle: LLVM

AllowShortFunctionsOnASingleLine: None

BreakBeforeBraces: Custom
BraceWrapping:
  AfterCaseLabel: true
  AfterClass: true
  AfterControlStatement: Always
  AfterEnum: true
  AfterExternBlock: false
  AfterFunction: true
  AfterNamespace: false
  AfterStruct: true
  AfterUnion: true
  BeforeCatch: true
  BeforeElse: true
  BeforeWhile: true
  SplitEmptyFunction: true
  SplitEmptyNamespace: true
  SplitEmptyRecord: true

ColumnLimit: 100

IndentWidth: 4
ContinuationIndentWidth: 4
IndentCaseLabels: true
IndentPPDirectives: BeforeHash

DerivePointerAlignment: false
PointerAlignment: Middle
SpaceAfterCStyleCast: true
SpaceBeforeCpp11BracedList: true
SortIncludes: CaseInsensitive
...
